<a href="https://colab.research.google.com/github/deouron/Dash_Crimes/blob/master/crimes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install dash
!pip install jupyter-dash

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt
from dateutil.parser import parse
import dateutil
import pytz
import matplotlib.pyplot as plt
from matplotlib import cm
import plotly
import plotly.graph_objs as go
import plotly.express as px
from plotly.subplots import make_subplots
from dash import Dash, html, dcc

In [ ]:
crimes = pd.read_csv('crimedata.csv')

In [26]:
crimes.sample(5)

,communityName,state,countyCode,communityCode,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,...,burglaries,burglPerPop,larcenies,larcPerPop,autoTheft,autoTheftPerPop,arsons,arsonsPerPop,ViolentCrimesPerPop,nonViolPerPop
478,NorthAdamscity,MA,3.0,46225.0,16797,2.54,1.30,97.48,0.54,1.18,...,151.0,969.88,406.0,2607.75,20.0,128.46,0.0,0.00,571.65,3706.08
2051,Shreveportcity,LA,NaN,NaN,198525,2.62,44.76,54.32,0.51,1.09,...,4774.0,2398.91,13784.0,6926.39,1503.0,755.25,220.0,110.55,1291.41,10191.10
1493,Millvillecity,NJ,11.0,46680.0,25992,2.70,8.44,86.65,0.60,7.59,...,414.0,1552.60,907.0,3401.46,77.0,288.77,17.0,63.75,952.56,5306.58
532,FortSmithcity,AR,NaN,NaN,72798,2.46,7.68,86.25,4.09,1.42,...,963.0,1276.83,3956.0,5245.22,391.0,518.42,23.0,30.50,690.79,7070.97
1500,Jaspercity,AL,NaN,NaN,13553,2.53,14.59,84.78,0.41,0.42,...,170.0,1217.68,722.0,5171.55,74.0,530.05,5.0,35.81,1289.31,6955.09

In [18]:
print(len(crimes))
crimes['communityName'].unique
# видим, что нет дубликатов

2215

<bound method Series.unique of 0       BerkeleyHeightstownship
1                Marpletownship
2                    Tigardcity
3              Gloversvillecity
4                   Bemidjicity
                 ...
2210                 Mercedcity
2211              Pinevillecity
2212                Yucaipacity
2213               Beevillecity
2214         WestSacramentocity
Name: communityName, Length: 2215, dtype: object>

In [43]:
crimes.columns[:80]

Index(['communityName', 'state', 'countyCode', 'communityCode', 'population',
       'householdsize', 'racepctblack', 'racePctWhite', 'racePctAsian',
       'racePctHisp', 'agePct12t21', 'agePct12t29', 'agePct16t24',
       'agePct65up', 'numbUrban', 'pctUrban', 'medIncome', 'pctWWage',
       'pctWFarmSelf', 'pctWInvInc', 'pctWSocSec', 'pctWPubAsst', 'pctWRetire',
       'medFamInc', 'perCapInc', 'whitePerCap', 'blackPerCap', 'indianPerCap',
       'AsianPerCap', 'OtherPerCap', 'HispPerCap', 'NumUnderPov',
       'PctPopUnderPov', 'PctLess9thGrade', 'PctNotHSGrad', 'PctBSorMore',
       'PctUnemployed', 'PctEmploy', 'PctEmplManu', 'PctEmplProfServ',
       'PctOccupManu', 'PctOccupMgmtProf', 'MalePctDivorce', 'MalePctNevMarr',
       'FemalePctDiv', 'TotalPctDiv', 'PersPerFam', 'PctFam2Par',
       'PctKids2Par', 'PctYoungKids2Par', 'PctTeen2Par', 'PctWorkMomYoungKids',
       'PctWorkMom', 'NumKidsBornNeverMar', 'PctKidsBornNeverMar', 'NumImmig',
       'PctImmigRecent', 'PctImmigRec5', 'PctImmigRec8', 'PctImmigRec10',
       'PctRecentImmig', 'PctRecImmig5', 'PctRecImmig8', 'PctRecImmig10',
       'PctSpeakEnglOnly', 'PctNotSpeakEnglWell', 'PctLargHouseFam',
       'PctLargHouseOccup', 'PersPerOccupHous', 'PersPerOwnOccHous',
       'PersPerRentOccHous', 'PctPersOwnOccup', 'PctPersDenseHous',
       'PctHousLess3BR', 'MedNumBR', 'HousVacant', 'PctHousOccup',
       'PctHousOwnOcc', 'PctVacantBoarded', 'PctVacMore6Mos'],
      dtype='object')

In [28]:
crimes

,communityName,state,countyCode,communityCode,population,householdsize,racepctblack,racePctWhite,racePctAsian,racePctHisp,...,burglaries,burglPerPop,larcenies,larcPerPop,autoTheft,autoTheftPerPop,arsons,arsonsPerPop,ViolentCrimesPerPop,nonViolPerPop
0,BerkeleyHeightstownship,NJ,39.0,5320.0,11980,3.10,1.37,91.78,6.50,1.88,...,14.0,114.85,138.0,1132.08,16.0,131.26,2.0,16.41,41.02,1394.59
1,Marpletownship,PA,45.0,47616.0,23123,2.82,0.80,95.57,3.44,0.85,...,57.0,242.37,376.0,1598.78,26.0,110.55,1.0,4.25,127.56,1955.95
2,Tigardcity,OR,NaN,NaN,29344,2.43,0.74,94.33,3.43,2.35,...,274.0,758.14,1797.0,4972.19,136.0,376.30,22.0,60.87,218.59,6167.51
3,Gloversvillecity,NY,35.0,29443.0,16656,2.40,1.70,97.35,0.50,0.70,...,225.0,1301.78,716.0,4142.56,47.0,271.93,NaN,NaN,306.64,NaN
4,Bemidjicity,MN,7.0,5068.0,11245,2.76,0.53,89.16,1.17,0.52,...,91.0,728.93,1060.0,8490.87,91.0,728.93,5.0,40.05,NaN,9988.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2210,Mercedcity,CA,NaN,NaN,56216,3.07,6.87,61.68,15.23,29.86,...,1376.0,2268.72,2563.0,4225.82,489.0,806.25,34.0,56.06,545.75,7356.84
2211,Pinevillecity,LA,NaN,NaN,12251,2.68,21.18,76.65,1.52,1.29,...,104.0,860.43,574.0,4748.90,24.0,198.56,2.0,16.55,124.10,5824.44
2212,Yucaipacity,CA,NaN,NaN,32824,2.46,0.52,92.62,0.98,11.00,...,628.0,1709.26,895.0,2435.97,179.0,487.19,8.0,21.77,353.83,4654.20
2213,Beevillecity,TX,NaN,NaN,13547,2.89,3.37,69.91,0.90,62.11,...,192.0,1508.01,474.0,3722.90,13.0,102.10,1.0,7.85,691.17,5340.87
2214,WestSacramentocity,CA,NaN,NaN,28898,2.61,2.39,71.27,9.09,24.43,...,791.0,2614.53,1458.0,4819.20,405.0,1338.67,20.0,66.11,918.89,8838.50

Warning: Total number of columns (146) exceeds max_columns (20) limiting to first (20) columns.